
@main-background-color: @gray;

@gray: #d3d3d3;
@slategrey: #778899;
@darkgreyblue: #27415a;
@black: #000000;
@darkgrey: #a9a9a9;
@lightsalmon: #ffa07a;
@deepskyblue: #00bfff;
@lightgrey: #c7c7c7;
@whitesmoke: #f5f5f5;

@font-family: 'Consolas', Arial, Helvetica, sans-serif;

@body-font-size: 15px;
@header-title-font-size: 35px;
@footer-font-size: 12px;


