
.input-block {

	display: flex;
    align-items: center;
	padding: 1vh 1vw;
	width: 100%;

	&__name {
		margin-right: 2vw;
		font-weight: 700;
	}

	&__field {
		width: 100%;
		border-style: none;
		background: @whitesmoke;
		//padding: 1vh 1vw;
	}
	

	&_date {
		width: auto;
	}

	&_number {
		width: auto;
	}
}

