
.sorting-block {

	padding: 1.5vh;
    display: flex;
    align-items: center;

	&__name {
		font-weight: 700;
		margin-right: 1vw;
	}

	&__select {
		padding: 0.5vh 1vw;
	}

	&_disabled {
		cursor: help;
	}

	&_enabled {
		cursor: pointer;
	}
}