
.table {

	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: start;
		word-wrap: break-word;
		padding: 2vh 0;
		
		cursor: pointer;
	}

	&__row-title {
		background: @darkgrey;
		border-bottom: .5px solid @black; 
		border-top: .5px solid @black; 
		
		cursor: default;
	}

	&__row-highlight {
		background: @lightgrey;
	}

	&__row-selected {
		cursor: default;
	}

	&__row-edited {
		flex-direction: column;
		cursor: text;
	}

	&__column {
		padding: 0 1vw;
		width: 10vw;
	}

	&__column-title {
		border-right: .5px solid @black;
	}

	
}