
.user-functionality-block {

	cursor: default;

	&__buttons {
		display: flex;
		justify-content: center;
	}

	&_selected {
		background: @lightsalmon;
	}

	&_edited {
		background: @whitesmoke;
	}
}