
.header {

	height: 15vh;
    background: @darkgreyblue;
    display: flex;
    justify-content: center;
    align-items: center;

	&__title {
		font-size: @header-title-font-size;
		color: @lightgrey;
		font-weight: bold;
		letter-spacing: 7px;
		font-variant: small-caps;
	}
	
}